@using Codebase.Website.Models;

<div class="container">
	<div id="slides">
		<div class="slides_container">

            @for (int i = 0; i < Model.ImageList.Count; i++)
            {
                string style_display = "display:none";

                if (i == 0)
                {
                    style_display = "display:block";
                }                    
                
                if (string.IsNullOrEmpty(Model.ImageList[i].Usemap))
                {
                    <a style="@style_display" href="@Url.Content("~/products-services")">
                        <img src="@Model.ImageList[i].Src" style="border:0px" width="1027px" height="195px" alt="Products & Services" />
                    </a>                     
                }
                else
                {
                    <img src="@Model.ImageList[i].Src" style="border:0px" width="1027px" height="195px" alt="Products & Services" usemap="#@Model.ImageList[i].Usemap" />
                }
            }

            @*			
            <div>	 			
				<a href="@Url.Content("~/products-services")" title="Products & Services" target="_self" ><img src="@Url.Content("~/Content/5E1A2906-F51C-4915-84D1-5FD49ED9C18B/menu/_menuproducts-servicespartial/img_main_acceptCC.jpg")" style="border:0px" width="1027px" height="195px" alt="Products & Services" /></a>
			</div>
            <div style="display:none">
				<a href="@Url.Content("~/products-services")" title="Products & Services" target="_self"><img src="@Url.Content("~/Content/5E1A2906-F51C-4915-84D1-5FD49ED9C18B/menu/_menuproducts-servicespartial/img_main_processingSolution.jpg")" style="border:0px" width="1027px" height="195px" alt="Products & Services" /></a>					
			</div>
            *@			

		</div>
		<a href="#" class="prev"><img src="@Url.Content("~/Content/5E1A2906-F51C-4915-84D1-5FD49ED9C18B/images/btn_left_arrow_image.png")" width="27px" height="195px" style="border:0px" alt="Previous" title="Previous" /></a>
		<a href="#" class="next"><img src="@Url.Content("~/Content/5E1A2906-F51C-4915-84D1-5FD49ED9C18B/images/btn_right_arrow_image.png")" width="27px" height="195px" style="border:0px" alt="Next" title="Next" /></a>        
	</div>    
</div>