@model Codebase.Website.Models.MenuViewModel

@using Codebase.Website.Helpers

<div class="menu-nav-box">             
    <ul id="menu-nav">
        <li id="why-us-active">@Html.MenuActionLink("index", "why-us")</li>      
        <li id="product-service">@Html.MenuActionLink("index", "products-services")</li>                  
        <li id="account-setup">@Html.MenuActionLink("index", "account-setup")</li>
        <li id="iso-agent">@Html.MenuActionLink("index", "iso-agent")</li>
        <li id="merchant-support">@Html.MenuActionLink("index", "merchant-support")</li>                          
        <li id="careers">@Html.MenuActionLink("index", "careers")</li>
        <li id="contact-us">@Html.MenuActionLink("index", "contact-us")</li>                          
    </ul>
 </div> 

@{    
    if (Model.ShowSlider)
    {
        @Html.Partial(Model.MenuSliderPartialView, Model);
    }    
}
